@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: white;
}

header {
  background-color: #102d40;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  padding: 25px;
  height: 100px;
}

.menu-list {
  display: flex;
}

.menu-list li {
  margin-left: 25px;
}

.git-hub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.git-hub:hover {
  color: #49aabf;
}

.git-hub p {
  margin-top: 10px;
}

.menu-item a:hover {
  color: #49aabf;
}

/* Perfil */

.perfil-container {
  background-color: #3887a6;
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
}

.nome {
  font-size: 50px;
  margin-top: 25px;
}

.perfil-container h3 {
  font-size: 30px;
}

/* Projetos */

.projetos {
  height: 100vh;
  padding: 25px;
  background-color: #184759;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projetos h1 {
  font-size: 50px;
  margin-bottom: 25px;
}

#projetos-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.projeto {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
}

/* Sobre */

#sobre {
  background-color: #3887a6;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#sobre h1 {
  font-size: 50px;
  margin: 25px;
}

.text-container {
  max-width: 80%;
}

.text-container p {
  text-align: justify;
  text-indent: 4rem;
  font-size: 1.5rem;
}

#sobre .button {
  background-color: white;
}

.button {
  background-color: rgb(202, 202, 202);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* Contato */

#contato {
  color: #102d40;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 25px;
}

#contato h1 {
  font-size: 50px;
  margin: 25px;
}

#form {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border-radius: 5px;
  border: 1px solid gray; */
  padding: 15px;
}

#form input {
  width: 100%;
  height: 40px;
  margin: 15px;
  /* border-radius: 5px; */
  border: none;
  border-bottom: 1px solid gray;
  outline: 0;
  padding: 5px;
}

#form textarea {
  height: 100px;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}

/* Rodapé */
#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background-color: #102d40;
  color: white;
}

.location p {
  margin-top: 15px;
}
.social-media {
  display: flex;
  flex-direction: column;
}
.medias {
  display: flex;
  flex-direction: row;
}
.medias p {
  margin-top: 15px;
}
.medias svg {
  width: 50px;
}

.whatsapp,
.instagram {
  color: white;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
